@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaro:opsz@6..72&family=League+Spartan:wght@100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yuji+Mai&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2f363e;
}
#time{
    display: flex;
    gap: 40px;
    color: #ffffff;
}
#time .circle{
    position: relative;
    width: 150px; 
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.circle{
    height: 50px;
    width: 50px;
    fill: transparent;
    outline: 4px solid;
    transform: translate(5px, 5px);
    border-radius: 50%;
}
#time .circle:nth-child(1){
    outline-color: #ff2972;
}
#time .circle:nth-child(2){
    outline-color: #fee800;
    stroke-dasharray: 800;
}
#time .circle:nth-child(3){
    outline-color: #04fc43;
}
#time div{
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
}
#time .ap{
    position: relative;
    font-size: 1em;
    transform: translateX(-20px);
}
